html {
    margin:gi 0px;
    width: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
body {
    margin: 0px;
    top: 0;
    bottom: 0;
}
.portfolio-hero {
    background: url(../image/andre-benz-xQpkcU2MK9I-unsplash.jpg) no-repeat center center fixed;
    height: 100vh;
    background-size:cover;
    text-align: center;
    color: white;
}
.portfolio-hero ul {
    margin: 1;
    display: block;
    justify-content: center;
    padding-top: 25px;


}
.portfolio-hero .menu-icon {
    color: white;
    text-decoration: none;
    text-transform: uppercase;

}
